// // Place all the styles related to the home controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
.comics{
  margin-left: 70px;
}

.comic{
  float: left;
  background-color: rgb(20, 20, 20);
  width: 400px;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}


.comic p{
  margin-left: 10px;
}

.comic img{
  width: 100%;
}
.comic:hover{
  opacity: 0.5;
}
.today-updates ,.past-updates{
  clear: both;
}

.update-title{
  border: 4px solid rgb(150, 150, 150);
  margin:40px 50px;
  text-align: center;
  border-radius: 50px;
}
